@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


body{
    background-image: url(./images/background.jpg);
    margin: 0;
    display: flex;
    overflow: hidden;
}

/* moon class centers moon image on page and connects to 
transform animation "rollMoon" below. */
.moon {
    background-repeat: no-repeat;
    background-size:auto;
    width: 5%; 
    height: 35%; 
    position:fixed;
    bottom: 50%; 
    left: 0%; 
    transform: translateX(-50%); 
    z-index: 1; 
    animation: rollMoon 3s linear forwards; 
    animation-delay: 2.5s;
}

@keyframes rollMoon {
    to {
        transform: translate(-50%, 100%);
        opacity: 0; 
    }
}

/*astronaut animation*/ 

.astronaut {
    background-image: url(./images/astronaut.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%; 
    height: 15%; 
    position: fixed;
    animation: astronaut-move 30s linear infinite;
    animation-delay: 7s;
    opacity: 0;
    overflow: hidden;
    z-index: 1 !important;
}

@keyframes astronaut-move {
    0%{
        opacity: 1;
        left: -5%;
        bottom: 35%;
    }
    25%{
        opacity: 1;
        left: 25%;
        bottom: 75%;
        transform: rotate(0.5turn) scale(0.5);
    }
    50%{
        opacity: 1;
        left: 50%;
        bottom: 40%;
        transform: rotate(-0.25turn) scale(1.5);
    }
    75%{
        opacity: 1;
        left: 75%;
        bottom: 10%;
        transform: rotate(-0.5turn) scale(1);
    }
    100%{
        opacity: 1;
        left: 100%;
        bottom: 50%;
        transform: rotate(+0.5turn) scale(1);
    }

}

/* rocket-start class handles establishing the rocket dimensions and
connects to "rocket" animation below */
.rocket-start {
    background-image: url(./images/rocket.png);
    width:300px;
    height: 300px;
    position: absolute;
    animation: rocket 6.0s ease-in-out forwards;
    z-index: 2;
}
  
@keyframes rocket {
    0% { 
        transform: translateX(0);
        bottom: 0%;
        right: 40%;
    }
    2% { 
        transform: translateX(3px);
        bottom: 0%;
        right: 40%; 
    }
    4% { 
        transform: translateX(-3px);
        bottom: 0%;
        right: 40%;
    }
    6% { 
        transform: translateX(3px);
        bottom: 0%;
        right: 40%;
    }
    8% { 
        transform: translateX(0);
        bottom: 0%;
        right: 40%; 
    }
    10% { 
        transform: translateX(3px);
        bottom: 0%;
        right: 40%; 
    }
    12% { 
        transform: translateX(-3px);
        bottom: 0%;
        right: 40%;
    }
    14% { 
        transform: translateX(3px);
        bottom: 0%;
        right: 40%;
    }
    16% { 
        transform: translateX(0);
        bottom: 0%;
        right: 40%; 
    }
    18% { 
        transform: translateX(3px);
        bottom: 0%;
        right: 40%; 
    }
    20% { 
        transform: translateX(-3px);
        bottom: 0%;
        right: 40%;
    }
    22% { 
        transform: translateX(3px);
        bottom: 0%;
        right: 40%;
    }
    25% { 
        transform: translateX(0) rotate(0);
        bottom: 0%;
        right: 40%; 
    }
    100% {
        transform: translate(0%, 0%) rotate(-0.10turn) scale(0.25);
        bottom: 50%;
        right: 75%;
    }
}

/*stars created and animatied to help give the illusion of a moving
rocket ship */
.star-1 {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 247, 200), 0 0 15px rgb(255, 247, 200);
    width: 10px;
    height: 10px;
    position: fixed;
    bottom: 90%;
    right: 20%;
    animation: star-1-move 3.5s ease-in-out forwards;
    animation-delay: 2.5s;
}

@keyframes star-1-move {
    to{
        transform: translate(-50%, 100%);
        bottom: 25%;
        right: 10%;

    }
}

.star-2 {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 247, 200), 0 0 15px rgb(255, 247, 200);
    width: 10px;
    height: 10px;
    position: fixed;
    bottom: 60%;
    right: 80%;
    animation: star-2-move 2s ease-in forwards;
    animation-delay: 2.5s;
}

@keyframes star-2-move {
    to{
        transform: translate(-50%, 100%);
        bottom: 0%;
        right: 70%;
        opacity: 0;
    }
}

.star-3 {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 247, 200), 0 0 15px rgb(255, 247, 200);
    width: 8px;
    height: 8px;
    position: fixed;
    bottom: 30%;
    right: 25%;
    animation: star-3-move 1.5s ease-in forwards;
    animation-delay: 2.5s;
}

@keyframes star-3-move {
    to{
        transform: translate(-50%, 100%);
        bottom: 0%;
        right: 20%;
        opacity: 0;
    }
}

.star-4 {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 247, 200), 0 0 15px rgb(255, 247, 200);
    width: 7px;
    height: 7px;
    position: fixed;
    bottom: 100%;
    left: 10%;
    animation: star-4-move 2.5s ease-in-out forwards;
    animation-delay: 3.5s;
    opacity: 0;
}

@keyframes star-4-move {
    to{
        transform: translate(-50%, 100%);
        bottom: 70%;
        left: 28%;
        opacity: 1;
    }
}

.star-5 {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 247, 200), 0 0 15px rgb(255, 247, 200);
    width: 15px;
    height: 15px;
    position: fixed;
    bottom: 50%;
    left: 0%;
    animation: star-5-move 3.5s ease-in-out forwards;
    animation-delay: 2.5s;
    opacity: 0;
}

@keyframes star-5-move {
    to{
        transform: translate(-50%, 100%);
        bottom: 20%;
        left: 15%;
        opacity: 1;
    }
}


/*Name animation*/
svg text {
    font-family: 'Silkscreen', sans-serif;
    letter-spacing: 10px;
    stroke: #00ffd9;
    font-size: 40px;
    font-weight: 700;
    stroke-width: 2;
   
    animation: textAnimate 5s infinite alternate;
    animation-delay: 6.0s;
    
}

@media only screen and (max-width: 1000px) {
    #animatedText {
        text-align: center;
        left:50% !important;
        bottom: 70%;
        font-size: 20px;  /* Adjust font size for smaller screens */
    }
}

#animatedText {
    stroke-width: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
}

#animatedText.visible {
    opacity: 1;
    visibility: visible;
}
  
@keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffset: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
}
/*Paragprah text*/
#paragraph {
    font-family: monospace;
    font-size: 18px;
    color: hsl(189, 68%, 75%);
    text-align: center;
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 2.5s ease-in-out forwards; 
    animation-delay: 6s;
}

@media only screen and (max-width: 1000px) {
    #paragraph{
        font-size: 10px;  /* Adjust font size for smaller screens */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Planets animation & shadows*/

.resume{
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    animation: move-resume 3s ease forwards; 
    animation-delay: 3s;
    opacity: 0;
}

.resume img{
    width: 90px; 
    height: 90px; 

}

.resume:hover {
    overflow: hidden;
    filter: drop-shadow(5px 5px 2px rgb(255, 144, 144)); 
}

@keyframes move-resume {
    0%{
        opacity: 0;
        left: 0%;
        bottom: 75%;
    }
    100%{
        opacity: 1;
        left: 25%;
        bottom: 30%;
        transform: rotate(-0.05turn);
    }

    
}

.linkedin{
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    animation: move-linkedin 2s ease forwards; 
    animation-delay: 4s;
    opacity: 0;

}

.linkedin img{
    width: 100px; 
    height: 100px; 

}

.linkedin:hover {
    filter: drop-shadow(5px 5px 2px rgb(61, 242, 255));
}

@keyframes move-linkedin{
    0%{
        opacity: 0;
        left: 15%;
        bottom: 100%;
    }
    100%{
        opacity: 1;
        left: 50%;
        bottom: 10%;
        transform: rotate(+0.05turn);
    }

    
}

.github{
    background-repeat: no-repeat;
    position: fixed;
    animation: move-github 2.5s ease forwards; 
    animation-delay: 3.5s;
    opacity: 0;
}

.github img{
    width: 100px; 
    height: 100px; 
}

.github img:hover {
    filter: drop-shadow(5px 5px 2px rgb(255, 201, 144))
}

@keyframes move-github{
    0%{
        opacity: 0;
        left: 50%;
        bottom: 100%;
    }
    100%{
        opacity: 1;
        left: 75%;
        bottom: 20%;
        transform: rotate(+0.005turn);
    }
}


